@{
    ViewData["Title"] = "Celebrities";
}
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Beth+Ellen&display=swap" rel="stylesheet">
<style>
    .h1-line
    {font-family: 'Beth Ellen', cursive;text-align:center;margin-top:150px;}
</style>
</head>
<body>
<h1 class="h1-line">I am Sorry,I can't do Anything................</h1>
</body>
